.glitch {
  text-decoration: none;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  letter-spacing: 5px;

  &:before, &:after {
    display: block;
    content: attr(data-glitch);
    text-transform: uppercase;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: .8;
  }

  &:after {
    color: #f0f;
    z-index: -2;
  }

  &:before {
    color: #0ff;
    z-index: -1;
  }

  &:before {
    animation: glitch .3s cubic-bezier(.25, .46, .45, .94) both infinite;
  }

  &:after {
    animation: glitch .3s cubic-bezier(.25, .46, .45, .94) reverse both infinite;
  }
}

@media only screen and (max-width: 400px) {
  .glitch {
    font-size: 3em;
  }
}


@keyframes glitch {
  0% {
    transform: translate(0)
  }
  20% {
    transform: translate(-3px, 3px)
  }
  40% {
    transform: translate(-3px, -3px)
  }
  60% {
    transform: translate(3px, 3px)
  }
  80% {
    transform: translate(3px, -3px)
  }
  to {
    transform: translate(0)
  }
}